.project-list {
  display: flex;
  flex-wrap: wrap;

  & > * {
    margin: 10px;
  }
}

.project-card {
  border: 1px solid var(--theme-foreground);
  border-radius: 16px;
  overflow: hidden;
  width: 280px;
  height: 360px;
  background: var(--theme-background);

  .img-container,
  .content {
    height: 50%;
  }

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    > img {
      width: 100%;
      min-height: 100%;
      object-fit: cover;
    }
  }

  .img-placeholder {
    color: rgba(255, 255, 255, 0.1);
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: 200ms;
    background: rgba(0, 0, 0, 0.8);

    > .button {
      width: 100px;
      padding: 10px;
      font-weight: 600;
      font-size: 14px;
    }

    > .button:not(last-child) {
      margin-bottom: 8px;
    }
  }

  .content {
    padding-top: 20px;

    > :not(last-child) {
      margin-bottom: 20px;
    }
  }

  .slider {
    display: flex;
    width: 200%;
    transform: translateX(0);
    transition: transform 200ms;

    > * {
      width: 50%;
      padding: 0 20px;
    }
  }

  .name {
    padding-left: 20px;
  }

  .tag-list {
    color: var(--theme-accent);
    text-align: center;
  }

  &:hover {
    .img-overlay {
      opacity: 1;
      visibility: visible;
    }

    .slider {
      transform: translateX(-50%);
    }
  }
}
