.tag {
  display: inline-block;
  width: max-content;
  padding: 6px 12px;
  margin: 2px;
  border: 1px solid currentColor;
  border-radius: 2rem;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
}
