@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700");

:root {
  --font-sans-serif-title: "Big Shoulders Display", sans-serif;
  --font-sans-serif-text: "Raleway", sans-serif;

  --font-weight-regular: 400;
  --font-weight-semi: 600;
  --font-weight-bold: 700;

  font-family: var(--font-sans-serif-text);
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  font-family: var(--font-sans-serif-title);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}
